html {
    font-size: 62.5%; }

* {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
}

body {
    background: linear-gradient(to top, #FFFFFF 40%, #51E4FF 100%);
    color: #FFFFFF;
    height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
  }
  
@keyframes cloud-animation {
    from {
        margin-left: -15%;
    }
    to {
        margin-left: 110%;
    }
}
  
.cloud {
    animation: cloud-animation 10s infinite; 
}

.cloud__big-bubble,
.cloud__small-bubble,
.cloud__base,
.second-cloud__big-bubble,
.second-cloud__small-bubble,
.second-cloud__base {
    background-color: white;
    position: absolute;
    border-radius: 50%;
}
  
.cloud__big-bubble {
    margin: .5rem 0 0 4.5rem;
    width: 9rem;
    height: 9rem;
}
  
.cloud__small-bubble {
    margin: 3.5rem 0 0 11.5rem;
    width: 7rem;
    height: 7rem;
}
  
.cloud__base {
    margin: 5.5rem 0 0 .5rem;
    border-radius: 20rem;
    width: 20rem;
    height: 7rem;
}
  
.second-cloud {
    animation: cloud-animation 4s infinite linear;
}
  
.second-cloud__big-bubble {
    margin: 2.5rem 0 0 2rem;
    width: 4.5rem;
    height: 4.5rem;
}
  
.second-cloud__small-bubble {
    margin: 3.5rem 0 0 5.5rem;
    width: 3.5rem;
    height: 3.5rem;
}
  
.second-cloud__base {
    margin: 5.5rem 0 0 .5rem;
    border-radius: 20rem;
    width: 10rem;
    height: 3.5rem;
}
  
.clouds-lower-position{
    margin-top: 7rem;
    position: absolute;
}
  
.cloud--slower {
    animation: cloud-animation 5s infinite;
}
  
.second-cloud--faster {
    animation: cloud-animation 7s infinite;
    z-index: 1;
}
  
.container {
    position: relative;
    top: 13%;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(to bottom right, #1F2434 40%, #57687C 180%);
    box-shadow: .5rem 1rem #888888;
    border-radius: 2rem;
    width: auto;
    max-width: 60rem;
    height: auto;
    padding-bottom: .5rem;
    z-index: 0;
}
  
.container__header-primary {
    font-family: "Pacifico", cursive;
    padding-top: 2rem;
    text-align: center;
    color: #00FF7B;
    font-size: 3.8rem;
}
  
.container__header-secondary {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 1.7rem;
    color: #00FF7B;
}
  
.container__position,
.container__conditions,
.container__temperature-degrees,
.container__pressure-degrees,
.container__wind-speed {
    font-family: "Montserrat", sans-serif;
    text-align: center ;
    font-size: 1.6rem; 
    color: #FFFFFF;
}
  
#container__current-weather-img,
.row {
    display: flex;
    align-items: center;
    justify-content: center;  
}

.col-1-of-3 {
    margin-top: 2rem;
    margin-right: 5rem;
    margin-left: 5rem;
}
  
.container__circle {
    margin-top: 1rem;
    height: 10rem;
    width: 10rem;
    background: #1F2434;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid;
    color: #00FF7B;
}

.container__center-circle {
    margin-top: 2.25rem;
    margin-left: 2.25rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 3px solid;
    background-color: #1F2434;
    position: absolute;
}

.scale-piece {
    height: 0;
    width: 0;
    position: absolute;
    top: 0;
    right: 0;
    border-right: 5rem solid #380ee6;
    border-top: 5rem solid transparent;
    transform-origin: bottom left;
}
.scale-piece:nth-child(2) {
    transform: rotate(45deg);
    border-right: 5rem solid #3debe6;
}
.scale-piece:nth-child(3) {
    transform: rotate(90deg);
    border-right: 5rem solid #03f35e;
}
.scale-piece:nth-child(4) {
    transform: rotate(135deg);
    border-right: 5rem solid #02e128;
}
.scale-piece:nth-child(5) {
    transform: rotate(180deg);
    border-right: 5rem solid #f7d515;
}
.scale-piece:nth-child(6) {
    transform: rotate(225deg);
    border-right: 5rem solid #fe7601;
}
.scale-piece:nth-child(7) {
    transform: rotate(270deg);
    border-right: 5rem solid #f30e05;
}
.scale-piece:nth-child(8) {
    transform: rotate(315deg);
    border-right: 5rem solid #a00903;
}
  
button:focus {
    outline: none;
}
  
button:hover {
    background-color: #4dffa3;
}
  
.container__units-button {
    margin-top: 2rem;
    border-radius: 2rem;
    background-color: #00FF7B;
    color: white;
    font-weight: bold;
    font-size: 1.6rem;
    height: 3rem;
    width: 15rem;
    margin-left: 50%;
    transform: translate(-50%);
}
  
footer {
    position: relative;
    color: #00FF7B;
    text-align: center;
    font-family: 'Pacifico', cursive;
    top: 15%;
}

.fa-heart {
    color: red;
}

.col-1-of-3--small {
    margin: 1rem;
}

.btn {
    height: 3.8rem;
    width: 4rem;
    background-color: #00FF7B;
    box-shadow: 2px 2px #888888;
    border-radius: 3px;
    border: none;
}
  